body {
  padding-top: 40px;
  /*font-family: 'Lato', sans-serif;*/
}

.jumbotron {
  color: #005ce6;
  background-color: rgb(245,245,245);
}

.navbar-dark .navbar-brand {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

